 body{
   background-color: black;
 }
h1{                              
    color: white;
    font-family: "press start 2P";
 }
p{
     /*background-color: aqua;*/ 
     color:yellow;
     font-family: consolas, sans-serif; /*Fonts google da jih poisces*/
    font-style: italic;
    font-weight: bold;
    text-decoration:overline;
    font-size:  18px;
    }
 /*#p1{color: tomato;}*/

